snippet dispatch "dispatch" b
def dispatch(self, request, *args, **kwargs):
	return super(${1:MyClass}, self).dispatch(request, *args, **kwargs)
endsnippet

snippet get_context_data "get_context_data"
def get_context_data(self, **kwargs):
	context = super(${1:MyClass}, self).get_context_data(**kwargs)
	context['${2:name}'] = ${3:value}
	return context
endsnippet
