[submodule "plugins/vimrc"]
	path = plugins/vimrc
	url = https://github.com/aliev/vimrc.git
[submodule "plugins/completor.vim"]
	path = plugins/completor.vim
	url = git@github.com:maralla/completor.vim.git
[submodule "plugins/yajs.vim"]
	path = plugins/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "plugins/vim-js-indent"]
	path = plugins/vim-js-indent
	url = git@github.com:gavocanov/vim-js-indent.git
[submodule "plugins/es.next.syntax.vim"]
	path = plugins/es.next.syntax.vim
	url = git@github.com:othree/es.next.syntax.vim.git
[submodule "plugins/vim-jsx"]
	path = plugins/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "plugins/tcomment_vim"]
	path = plugins/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "plugins/base16-vim"]
	path = plugins/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "pack/plugins/start/completor.vim"]
	path = pack/plugins/start/completor.vim
	url = git@github.com:maralla/completor.vim.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule "pack/plugins/start/vim-grepper"]
	path = pack/plugins/start/vim-grepper
	url = git@github.com:mhinz/vim-grepper.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat
