[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "pack/plugins/start/completor.vim"]
	path = pack/plugins/start/completor.vim
	url = git@github.com:maralla/completor.vim.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vimrc"]
	path = pack/plugins/start/vimrc
	url = git@github.com:aliev/vimrc.git
[submodule "pack/plugins/start/tcomment_vim"]
	path = pack/plugins/start/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "pack/plugins/start/papercolor-theme"]
	path = pack/plugins/start/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
